#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url('clock.png') no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
}

#hour{
    height: 28%;
    width: 1%;
    top: 22%;
    left: 49.5%;
    transform-origin: bottom;
}
#minute{
    height: 35%;
    width: 0.8%;
    top: 15%;
    left: 49.6%;
    transform-origin: bottom;
}
#second{
    height: 40%;
    width: 0.5%;
    top: 10%;
    left: 49.6%;
    transform-origin: bottom;
}